--- 
layout: base-layout.njk
data: posts
--- 
<div class="aboutDiv">
    Will try to do it automate
    <h1>{{ posts[0]['result']['title'] }}</h1>
    <img src="{{ posts[0]['result']['image_url'] }}" />
    <div>
        <small>
            {{ posts[0]['result']['content'][0]['children'][1]['children'][0] }}
        </small>
    </div>
    <p>
        {{ posts[0]['result']['description'] }}
    </p>
</div>
